<p id="notice"><%= notice %></p>

<h1>Bancos</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Código</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @bancos.each do |banco| %>
      <tr>
        <td><%= link_to banco.descricao, banco %></td>
        <td><%= banco.codigo %></td>
        <td><%= link_to 'Editar', edit_banco_path(banco) %></td>
        <td><%= link_to 'Apagar', banco, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar novo banco', new_banco_path, :class => "btn btn-success"%>
