<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @cnao.descricao %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @cnao.codigo %>
</p>

<%= link_to 'Edit', edit_cnao_path(@cnao) %> |
<%= link_to 'Back', cnaes_path %>
