<%= form_with(model: conta, local: true) do |form| %>
  <% if conta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(conta.errors.count, "error") %> prohibited this conta from being saved:</h2>

      <ul>
      <% conta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :banco_id %>
    <%= form.select :banco_id, @bancos.collect { |banco| [banco.descricao, banco.id] }, {}, { :class => 'form-control' } %>
  </div>
  <div class="form-row">
    <div class="field form-group col-md-10">
      <%= form.label :conta_numero, "Número da conta" %>
      <%= form.text_field :conta_numero, :class => 'form-control' %>
    </div>
  
    <div class="field form-group col-md-2">
      <%= form.label :conta_digito, "Dígito da conta" %>
      <%= form.number_field :conta_digito, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-row">
    <div class="field form-group col-md-10">
      <%= form.label :agencia_numero, "Número da agência" %>
      <%= form.text_field :agencia_numero, :class => 'form-control' %>
    </div>
  
    <div class="field form-group col-md-2">
      <%= form.label :agencia_digito, "Dígito da agência" %>
      <%= form.number_field :agencia_digito, :class => 'form-control' %>
    </div>
  </div>
  <div class="actions form-group">
    <%= form.submit :class=>"btn btn-dark" %>
  </div>
<% end %>
