<p id="notice"><%= notice %></p>

<h1>Contas</h1>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Conta</th>
      <th>Banco</th>
      <th>Agência</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @contas.each do |conta| %>
      <tr>
        
        <td><%= link_to conta.conta_numero + "-" + conta.conta_digito.to_s, conta %></td>
        <td><%= conta.banco.descricao %></td>
        <td><%= conta.agencia_numero + "-" + conta.agencia_digito_integer.to_s %></td>
        <td><%= link_to 'Editar', edit_conta_path(conta) %></td>
        <td><%= link_to 'Apagar', conta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Conta', new_conta_path, :class => "btn btn-success" %>
