<div class="nested-fields">
  <div class="field">
    <%= f.label :tipo %>
    <%= f.select :tipo, Contato.tipos.keys %>
  </div>
 
  <div class="field">
    <%= f.label :campo %>
    <%= f.text_field :campo %>
  </div>
  <%= link_to_remove_association "Remove Contato", f %>
</div>