<p id="notice"><%= notice %></p>

<h1>Favorecidos</h1>

<table>
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Pessoa Fisica</th>
      <th>Pessoa Juridica</th>
      <th>Endereço</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pessoas.each do |pessoa| %>
      <tr>
        <td><%= pessoa.tipo %></td>
        <td><%= pessoa.pessoafisica %></td>
        <td><%= pessoa.pessoajuridica %></td>
        <td><%= pessoa.endereco %></td>
        <td><%= link_to 'Show', pessoa %></td>
        <td><%= link_to 'Edit', edit_pessoa_path(pessoa) %></td>
        <td><%= link_to 'Destroy', pessoa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Favorecido', new_pessoa_path %>
