
<div class="jumbotron">
  <h1 class="display-4">Contas</h1>
  <p class="lead"><section id="team" class="pb-5">
    <div class="container">
        <div class="row">
            <% @contas.each do |conta| %>
                
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p><img class=" img-fluid" src="http://www.vector-logo.net/logo_preview/eps/b/Banco_do_Brasil.png" alt="card image"></p>
                                        <h4 class="card-title"><%= conta.conta_numero + "-" + conta.conta_digito.to_s %></h4>
                                        <p class="card-text"><%= conta.banco.descricao %></p>
                                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title"><%= link_to conta.conta_numero + "-" + conta.conta_digito.to_s, conta%></h4>
                                        <p class="card-text">Saldo da conta: <%= conta.saldo.to_s.gsub(".", ",")  %></p>
                                        <p class="card-text">Últimos movimentos: </p>
                                        <table class="table">
                                          <thead>
                                            <tr>
                                              <th scope="col">Descrição</th></th>
                                              <th scope="col">Valor</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <% conta.movimentos.last(3).each do |movimento| %>
                                            <tr>
                                              <th scope="row"> <%=movimento.descricao%> </th>
                                              <td><%=movimento.valor%></td>
                                            </tr>
                                            <% end %>
                                          </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <%end %>

        </div>
    </div>
</section>
</p>
  <hr class="my-4">
  
</div>
