<% if usuario_signed_in? %>
<div id="contasApp" v-cloak  class="container">
   <div class="table-wrapper">
      <div class="table-title">
         <div class="row">
            <div class="col-sm-6">
               <h2 class="text-light"><b>Resumo</b></h2>
            </div>
         </div>
      </div>
      <div class="search-wrapper">
         <div class="form-row align-items-center">
            <div class="col-md-3">
               <label class="sr-only" for="contaNumero"></label>
               <div class="input-group mb-2">
                  <div class="input-group-prepend">
                     <div class="input-group-text">Conta</div>
                  </div>
                  <input type="text" class="form-control" id="contaNumero" v-model="contaNumero">
               </div>
            </div>
            <div class="col-md-4">
               <label class="sr-only" for="contaBanco"></label>
               <div class="input-group mb-2">
                  <div class="input-group-prepend">
                     <div class="input-group-text">Banco</div>
                  </div>
                  <select v-model = 'bancoId' class="form-control">
                     <option v-for="banco in bancos" v-bind:value="banco.id">
                        {{banco.descricao}}
                     </option>
                  </select>
               </div>
            </div>
            <div class="col-md-4">
               <label class="sr-only" for="agenciaNumero"></label>
               <div class="input-group mb-2">
                  <div class="input-group-prepend">
                     <div class="input-group-text">Agência</div>
                  </div>
                  <input type="text" class="form-control" id="agenciaNumero" v-model="agenciaNumero">
               </div>
            </div>
            <div class="col-auto">
               <a class="btn btn-primary mb-2 text-light" @click="searchContas()"><span class="fa fa-search"></span></a>
            </div>
         </div>
      </div>
      <table class="table table-striped table-hover">
         <thead>
            <tr>
               <th>
                  <span class="custom-checkbox">
                  <input type="checkbox" id="selectAll" v-model="allSelected" @click="selectAll">
                  <label for="selectAll"></label>
                  </span>
               </th>
               <th>Conta</th>
               <th>Banco</th>
               <th>Agência</th>
               <th>Saldo</th>
            </tr>
         </thead>
         <tbody>
            <tr v-if="loading">
               <td>
               </td>
               <td>
                  <div class="ph-item">
                      <div class="ph-col-12">
                          <div class="ph-row">
                              <div class="ph-col-12"></div>
                          </div>
                      </div>
                  </div>
               </td>
               <td>
                  <div class="ph-item">
                      <div class="ph-col-12">
                       <div class="ph-row">
                           <div class="ph-col-12"></div>
                       </div>
                   </div>
               </div>
               </td>
               <td>
                  <div class="ph-item">
                      <div class="ph-col-12">
                       <div class="ph-row">
                           <div class="ph-col-12"></div>
                       </div>
                   </div>
               </div>
               </td>
               <td>
                  <div class="ph-item">
                      <div class="ph-col-12">
                       <div class="ph-row">
                           <div class="ph-col-12"></div>
                       </div>
                   </div>
               </div>
               </td>
            </tr>
            <tr v-if="loading">
               <td>
               </td>
               <td>
                  <div class="ph-item">
                      <div class="ph-col-12">
                          <div class="ph-row">
                              <div class="ph-col-12"></div>
                          </div>
                      </div>
                  </div>
               </td>
               <td>
                  <div class="ph-item">
                      <div class="ph-col-12">
                       <div class="ph-row">
                           <div class="ph-col-12"></div>
                       </div>
                   </div>
               </div>
               </td>
               <td>
                  <div class="ph-item">
                      <div class="ph-col-12">
                       <div class="ph-row">
                           <div class="ph-col-12"></div>
                       </div>
                   </div>
               </div>
               </td>
               <td>
                  <div class="ph-item">
                      <div class="ph-col-12">
                       <div class="ph-row">
                           <div class="ph-col-12"></div>
                       </div>
                   </div>
               </div>
               </td>
            </tr>
            <tr v-if="loading">
               <td>
               </td>
               <td>
                  <div class="ph-item">
                      <div class="ph-col-12">
                          <div class="ph-row">
                              <div class="ph-col-12"></div>
                          </div>
                      </div>
                  </div>
               </td>
               <td>
                  <div class="ph-item">
                      <div class="ph-col-12">
                       <div class="ph-row">
                           <div class="ph-col-12"></div>
                       </div>
                   </div>
               </div>
               </td>
               <td>
                  <div class="ph-item">
                      <div class="ph-col-12">
                       <div class="ph-row">
                           <div class="ph-col-12"></div>
                       </div>
                   </div>
               </div>
               </td>
               <td>
                  <div class="ph-item">
                      <div class="ph-col-12">
                       <div class="ph-row">
                           <div class="ph-col-12"></div>
                       </div>
                   </div>
               </div>
               </td>
            </tr>
            <tr v-for="(conta, index) in contas">
               <td>
                  <span class="custom-checkbox">
                  <input type="checkbox" :id="'checkbox'+conta.id" value="1" v-model="contas[index].selected" @click="select">
                  <label :for="'checkbox'+conta.id"></label>
                  </span>
               </td>
               <td><a v-bind:href="'/contas/'+conta.id">{{ conta.conta }}</a></td>
               <td>{{ conta.banco.descricao }}</td>
               <td>{{ conta.agencia }}</td>
               <td v-bind:class="[conta.saldo > 0 ? 'text-success' : 'text-danger', 'font-weight-bold']">{{ conta.saldo }}</td>
            </tr>
         </tbody>
      </table>
      <div class="text-center" v-if="loading">
         <div class="spinner-border" role="status">
            <span class="sr-only">Carregando...</span>
         </div>
      </div>
      <div class="mt-3 text-right" v-if="total > 10">
         <b-pagination align="right" :total-rows="total" :per-page="10" @change="changePage" />
      </div>
      <div class="hint-text">Mostrando <b>{{contas.length }}</b> registros</div>
      <br>
   </div>
</div>
<%= javascript_pack_tag 'contas', 'data-turbolinks-track': 'reload' %>
<% else %>
<!-- ========== HEADER SECTION ========== -->
<section id="home" name="home"></section>
<div id="headerwrap">
   <div class="container">
      <br>
      <h1>San Juan Advogados</h1>
      <h2>Seja bem vindo</h2>
      <br>
      <br>
      <br>
      <div class="row">
         <div class="col-lg-6 col-lg-offset-3">
         </div>
      </div>
   </div>
   <!-- /container -->
</div>
<!-- /headerwrap -->
<!-- ========== WHITE SECTION ========== -->
<div id="w">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <h3>
               WELCOME TO 
               <bold>ONASSIS</bold>
               . 
               <bold>A FREE BOOTSTRAP</bold>
               THEME. CRAFTED WITH LOVE BY 
               <bold>TEMPLATEMAG</bold>
               . <br/>
               <bold>IDEAL FOR</bold>
               AGENCIES & FREELANCERS.
            </h3>
         </div>
      </div>
   </div>
   <!-- /container -->
</div>
<!-- /w -->
<!-- ========== SERVICES - GREY SECTION ========== -->
<section id="services" name="services"></section>
<div id="g">
   <div class="container">
      <h3>OUR SERVICES</h3>
      <br>
      <br>
      <div class="row">
         <div class="col-lg-3">
            <%= image_tag("s1.png") %>
            <h4>London</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
         </div>
         <div class="col-lg-3">
            <%= image_tag("s2.png") %>
            <h4>Berlin</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
         </div>
         <div class="col-lg-3">
            <%= image_tag("s3.png") %>
            <h4>Paris</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
         </div>
         <div class="col-lg-3">
            <%= image_tag("s4.png") %>
            <h4>Tokyo</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
         </div>
      </div>
   </div>
   <!-- /container -->
</div>
<section id="portfolio" name="portfolio"></section>

<div id="w">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <h3>
               WE WORK HARD TO DELIVER A 
               <bold>HIGH QUALITY SERVICE</bold>
               . OUR AIM IS YOUR COMPLETE 
               <bold>SATISFACTION</bold>
               .
            </h3>
         </div>
      </div>
   </div>
</div>

<!-- ========== ABOUT - GREY SECTION ========== -->
<section id="about" name="about"></section>
<div id="g">
   <div class="container">
      <h3>ABOUT US</h3>
      <br>
      <br>
      <div class="row">
         <div class="col-lg-2"></div>
         <div class="col-lg-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lectus elit, tincidunt nec turpis sed, accumsan iaculis ipsum. Nulla at augue auctor, tristique erat in, ultricies nunc. Mauris eget metus leo. Ut in mi lacinia, mattis nisl non,
               ultrices risus. Vestibulum aliquet aliquam ipsum ut ullamcorper. Pellentesque fringilla, massa vel rutrum consequat, nulla velit fermentum dolor, sed scelerisque.
            </p>
            <br>
            <br>
         </div>
      </div>
   </div>
   <!-- /container -->
</div>
<% if !usuario_signed_in? %>
        <!-- map -->
        <section id="mapa" class="clearfix">
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.8255697079567!2d-38.457243385177904!3d-12.983005890848348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7161b1075f875d1%3A0xd020001be2daadfd!2sBoulevard+Side+Empresarial!5e0!3m2!1spt-BR!2sbr!4v1551445216522" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
        </section>
        <section id="contact" name="contact">
           <div id="f">
              <div class="container">
                 <h3><b>CONTATO</b></h3>
                 <br>
                 <div class="row">
                    <div class="col-lg-4">
                       <h3><b>Envie um email:</b></h3>
                       <h3>email@example.com</h3>
                       <br>
                    </div>
                    <div class="col-lg-4">
                       <h3><b>Telefone:</b></h3>
                       <h3>+55 71 5555-5555</h3>
                       <br>
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-md-12">
                       <h3><b>Contato</b></h3>
                       <form class="contact-form php-mail-form" role="form" action="contactform/contactform.php" method="POST">
                          <div class="form-group">
                             <label for="contact-name">Nome</label>
                             <input type="name" name="name" class="form-control" id="contact-name" placeholder="Nome" data-rule="minlen:4" data-msg="Please enter at least 4 chars" >
                             <div class="validate"></div>
                          </div>
                          <div class="form-group">
                             <label for="contact-email">Email</label>
                             <input type="email" name="email" class="form-control" id="contact-email" placeholder="Email" data-rule="email" data-msg="Please enter a valid email">
                             <div class="validate"></div>
                          </div>
                          <div class="form-group">
                             <label for="contact-subject">Assunto</label>
                             <input type="text" name="subject" class="form-control" id="contact-subject" placeholder="Assunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
                             <div class="validate"></div>
                          </div>
                          <div class="form-group">
                             <label for="contact-message">Mensagem</label>
                             <textarea class="form-control" name="message" id="contact-message" placeholder="Mensagem" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
                             <div class="validate"></div>
                          </div>
                          <div class="loading"></div>
                          <div class="error-message"></div>
                          <div class="sent-message">Sua menssagem foi enviada. Obrigado!</div>
                          <div class="form-send">
                             <button type="submit" class="btn btn-large">Enviar menssagem</button>
                          </div>
                       </form>
                    </div>
                 </div>
              </div>
           </div>
        </section>
      <% end %>
<!-- /g -->
<% end %>