<div class="nested-fields">
  <div class="field">
    <%= f.label :unidade_id, "País" %>
    <%= f.collection_select :unidade_id, Unidade.order(:nome), :id, :nome, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :estado_id %>
    <%= grouped_collection_select(:estado, :unidade_id, Unidade.order(:nome), :estados, :nome, :id, :nome, include_blank: true) %>
  </div>
   <div class="field">
    <%= f.label :cidade_id %>
    <%= grouped_collection_select(:cidade, :estado_id, Estado.order(:nome), :cidades, :nome, :id, :nome, include_blank: true) %>
  </div>
  <div class="field">
    <%= f.label :logadouro %>
    <%= f.text_field :logadouro %>
  </div>
  <div class="field">
    <%= f.label :cep, "CEP" %>
    <%= f.text_field :cep %>
  </div>
  <div class="field">
    <%= f.label :bairro %>
    <%= f.text_field :bairro %>
  </div>
   <div class="field">
    <%= f.label :descricao, "Descrição" %>
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label :numero, "Número" %>
    <%= f.text_field :numero %>
  </div>
  <div class="field">
    <%= f.label :complemento %>
    <%= f.text_field :complemento %>
  </div>
  <%= link_to_remove_association "Remover Contato", f %>
</div>