<%= form_with(model: funcionario, local: true) do |form| %>
  <% if funcionario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(funcionario.errors.count, "error") %> prohibited this funcionario from being saved:</h2>

      <ul>
      <% funcionario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cargo_id %>
    <%= form.text_field :cargo_id %>
  </div>

  <div class="field">
    <%= form.label :pessoafisica_id %>
    <%= form.text_field :pessoafisica_id %>
  </div>

  <div class="field">
    <%= form.label :endereco_id %>
    <%= form.text_field :endereco_id %>
  </div>

  <div class="field">
    <%= form.label :ativo %>
    <%= form.check_box :ativo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
