<!DOCTYPE html>
<html>
  <head>
    <title>Projeto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <script>toastr.info("<%= notice %>")</script>
    <% end %>
    <% if alert %>
      <script>toastr.danger("<%= alert %>")</script>
    <% end %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
      <a class="navbar-brand py-2" href="#"><%= image_tag("san-juan.png", :alt => "San Juan Advogados", :height => '50') %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Início</a>
          </li>
          <% if usuario_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cadastro Financeiro
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/bancos">Bancos</a>
              <a class="dropdown-item" href="/contas">Contas</a>
              <%= link_to 'Favorecidos', 'pessoas', {:class => 'dropdown-item'} %>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/movimentos">Movimentação</a>
          </li>
          <% else %>
          <li class="nav-item">
            <a class="nav-link" href="/pages/contact">Quem somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pages/contact">Contato</a>
          </li>
          <% end %>
        </ul>
        <span class="navbar-text">
         <ul class="navbar-nav mr-auto">
          <li class="my-5 my-lg-0">
            <% if usuario_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Logout', destroy_usuario_session_path,  { :class => "nav-link", method: :delete } %>        
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Login', new_usuario_session_path, { :class => "nav-link" }  %>  
            </li>
          <% end %>
          </li>
        </ul>
        </span>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">© 2019 Copyright: Projeto.</span>
      </div>
    </footer>
  </body>
</html>
